* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.27;
  color: #354052;

}

.pai {
  width: 47%;
  margin: 0 auto;
 
}

.titulo {
font-size: 80px;
font-weight: 400;
margin-top: 67px;
color:#6b3de4;
}

.cafe {
  width: 592px;
}


.subtitulo {
  width: 584px;
font-size: 40px;
font-weight: normal;
line-height: 1.5;
}

.info { 
  height: 131px;
  font-size: 30px;
  font-weight: 300;
}

.botao {
 
  border-radius: 4px;
  background-color: #007ac2;
}

.texto-do-botao {
  width: 586px;
  height: 85px;
  font-size: 30px;
  color: #ffffff;
}

.rodape {
  width: 750px;
  height: 349px;
  background-color:#f5f5f5;
  margin-top: 62px;
}


.rodape {
  margin-left: 249px;
}

footer h3 {
  margin-left: 109px;
  font-size: 45px;
  font-weight: normal;
  padding-top: 65px;

}

footer p {
  font-size: 22px;
  font-weight: 300;
  margin-left: 90px;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  list-style: none;
}

.redes-sociais, .fab {
  font-size: 28px;
  padding: 12px;

}


.copyright {
  font-size: 16px;   
  margin-left: 225px;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer strong {
  font-weight: normal;
}

.help {
  font-weight: normal;
  font-size: 16px;
  margin-left: 252px;
}