* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 1.27;
    color: #354052;
}

.pai {
    width: 47%;
    margin: 0 auto;
}
  
  .titulo {
  font-size: 80px;
  font-weight: 400;
  color:#6b3de4;
  margin-top: 67px;
  margin-bottom: 50px;
}
.primeira-imagem {
    width: 592px;
    height: 356px;
    background-color:#f5e9f3;
}

.subtitulo {
    width: 584px;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 38px;
}

.info  {
width: 592px;
height: 95px;
margin-top: 24px;
font-size: 30px;
font-weight: 300;
text-align: left;
}


.imagens {
    width: 288px;
    height: 242px; 
}

.blocao-das-imagens {
    
    width: 590px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bloco-das-imagens {;

}

.bloco-das-imagens  {
    text-align: center;
}

.bloco-das-imagens {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 49px;
}

.bloco-das-imagens p {
    font-size: 18px;
    font-weight: 300;
  line-height: 1.33;
}

.quarteto-das-imagens {
    width: 288px;
  height: 242px;
}